---
import Link from '@components/Link.astro';
import MasterLayout from '@layouts/master.astro';
---

<MasterLayout title="ELEPHANT | About Us" description="">
	<img src="https://cdn.elephant-art-film.com/assets/team_01.webp" alt="Elephants (group)" />

	<h1 class="text-4xl font-bold mt-12 mb-6">About Us</h1>

	<p class="text-xl">We are an artistic group making short films.</p>
	<p class="text-xl">
		You are welcome to contact us at
		<a href="mailto:elephantartfilm@gmail.com" class="italic underline hover:text-gray-100">
			elephantartfilm@gmail.com</a
		>.
	</p>

	<ul class="text-xl mt-8">
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm7663053">Ada Trkulja</Link> | Director, Screenwriter, Executive
			Producer
		</li>
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm9083650">Gordan Golubović</Link> | Executive Producer
		</li>
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm13538884">Irena Žugič</Link> | Director, Screenwriter
		</li>
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm7782329">Jan Fabris</Link> | Director, Screenwriter
		</li>
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm9902465">Ruslan Perezhilo</Link> | Composer
		</li>
		<li class="my-4">
			<Link href="https://www.imdb.com/name/nm14305170">Yun Shen</Link> | Executive Producer
		</li>
	</ul>
</MasterLayout>
