---
import MasterLayout from '@layouts/master.astro';
---

<MasterLayout title="ELEPHANT | About Us" description="">
	<img src="https://cdn.elephant-art-film.com/assets/team_01.webp" alt="Elephants (group)" />

	<h1 class="text-4xl font-bold mt-12 mb-6">About Us</h1>

	<p class="text-xl">We are a group of enthusiasts currently making independent short fiction films.</p>
	<p class="text-xl">
		You are welcome to contact us at
		<a href="mailto:elephantartfilm@gmail.com" class="italic underline hover:text-gray-100">
			elephantartfilm@gmail.com</a
		>.
	</p>

	<ul class="text-xl mt-8">
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm7663053" class="font-bold underline hover:text-gray-100">
				Ada Trkulja</a
			> | Director, Screenwriter, Executive Producer
		</li>
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm9083650" class="font-bold underline hover:text-gray-100">
				Gordan Golubović</a
			> | Executive Producer
		</li>
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm13538884" class="font-bold underline hover:text-gray-100">
				Irena Žugič</a
			> | Director, Screenwriter
		</li>
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm7782329" class="font-bold underline hover:text-gray-100">
				Jan Fabris</a
			> | Director, Screenwriter
		</li>
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm9902465" class="font-bold underline hover:text-gray-100">
				Ruslan Perezhilo</a
			> | Composer
		</li>
		<li class="my-4">
			<a href="https://www.imdb.com/name/nm14305170" class="font-bold underline hover:text-gray-100">Yun Shen</a>
			 | Executive Producer
		</li>
	</ul>
</MasterLayout>
