---
import { getCollection } from 'astro:content';

import MasterLayout from '../../layouts/master.astro';
import FilmCard from '../../components/FilmCard.astro';

const films = (await getCollection('films')).sort((a, b) => b.data.releaseOrder - a.data.releaseOrder);
---

<MasterLayout title="ELEPHANT | News" description="">
	<h1 class="text-4xl font-bold mb-6">Films</h1>
	{films.map((film) => <FilmCard slug={film.slug} film={film.data} />)}
</MasterLayout>
