---
import MasterLayout from '../layouts/master.astro';
---

<MasterLayout title="ELEPHANT art film production" description="" showLogo={true}>
	<h1 class="text-4xl font-bold mt-12 mb-6 text-center">404: Page Not Found</h1>
	<p class="text-center">Sorry, the page you are looking for doesn't exist.</p>
	<p class="text-center my-4"><a href="/" class="underline">Go back to the homepage</a></p>
</MasterLayout>
