---
import { getCollection } from 'astro:content';

import MasterLayout from '@layouts/master.astro';
import YouTube from '@components/YouTube.astro';
import NewsCard from '@components/NewsCard.astro';

const articles = (await getCollection('news'))
	.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
	.slice(0, 3);
---

<MasterLayout title="ELEPHANT art film production" description="">
	<h2 class="text-4xl font-bold mb-6">Showreel 2023</h2>
	<YouTube id="apyblyrlJCg" />

	<h2 class="text-4xl font-bold mt-12 mb-6">News</h2>
	{
		articles.map((article) => (
			<NewsCard
				title={article.data.title}
				slug={article.slug}
				publishDate={article.data.publishDate}
				image={{ src: article.data.image || '', alt: article.data.title }}
				description={article.data.description}
			/>
		))
	}
	<div class="text-center pt-4">
		<a href="/news" class="px-4 py-3 active:border-4 border-gray-600 rounded-md bg-zinc-900 hover:bg-zinc-950">
			More...
		</a>
	</div>
</MasterLayout>
