---
import type { GetStaticPaths } from 'astro';
import { getCollection, getEntry } from 'astro:content';

import MasterLayout from '@layouts/master.astro';

export const getStaticPaths = (async () => {
	const articles = await getCollection('news');
	return articles.map((article) => {
		return { params: { slug: article.slug } };
	});
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
if (!slug) throw new Error('Missing slug');

const article = await getEntry<'news', string>('news', slug);
if (!article) throw new Error('Missing article');

const { Content } = await article.render();
---

<MasterLayout title={`ELEPHANT | ${article.data.title}`} description="">
	<article>
		<h1 class="text-4xl font-montserrat mb-4">{article.data.title}</h1>
		<time datetime={article.data.publishDate.toISOString()} class="text-lg font-montserrat">
			{article.data.publishDate.toLocaleDateString()}
		</time>
		<div class="my-8">
			<Content />
		</div>
	</article>
</MasterLayout>

<style is:global>
	p {
		line-height: 1.75rem;
		font-size: 1.125rem;
		margin-bottom: 1.25rem !important;
	}
</style>
