---
import { getCollection } from 'astro:content';

import MasterLayout from '@layouts/master.astro';
import NewsCard from '@components/NewsCard.astro';

const allArticles = await getCollection('news');
const articles = allArticles
	.filter(article => article.data.image && article.data.image.startsWith('/path/to/images/thumb_'))
	.sort((a, b) => {
		let dateDiff = b.data.publishDate.getTime() - a.data.publishDate.getTime();
		if (dateDiff !== 0) return dateDiff;

		if (a.data.order && b.data.order) return b.data.order - a.data.order;

		return 0;
	});
---

<MasterLayout title="ELEPHANT | News" description="">
	<h1 class="text-4xl font-bold mb-6">News</h1>
	{
		articles.map((article) => (
			<NewsCard
				title={article.data.title}
				slug={article.slug}
				publishDate={article.data.publishDate}
				image={{ src: article.data.image || '', alt: article.data.title }}
				description={article.data.description}
			/>
		))
	}
</MasterLayout>
