---
import { getCollection } from 'astro:content';

import MasterLayout from '@layouts/master.astro';
import NewsCard from '@components/NewsCard.astro';

const articles = (await getCollection('news')).sort((a, b) => {
    // First, sort by publishDate
    const dateDifference = b.data.publishDate.getTime() - a.data.publishDate.getTime();
    
    // If publishDate is the same, sort by title
    if (dateDifference === 0) {
        return b.data.title.localeCompare(a.data.title);
    }
    
    return dateDifference;
});
---

<MasterLayout title="ELEPHANT | News" description="">
	<h1 class="text-4xl font-bold mb-6">News</h1>
	{
		articles.map((article) => (
			<NewsCard
				title={article.data.title}
				slug={article.slug}
				publishDate={article.data.publishDate}
				image={{ src: article.data.image || '', alt: article.data.title }}
				description={article.data.description}
			/>
		))
	}
</MasterLayout>
